@using (Html.BeginForm())
{
<html>
<body>

    @*<iframe height="575" width="900" src="~/Content/Presentations/Learn1.pdf#page=2"></iframe>*@
    <iframe src="@ViewBag.TopicLink" frameborder="0" width="900" height="575" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>


 </body>
</html>
}
